# General build options
build --conlyopt='-std=gnu11'
build --cxxopt='-std=gnu++11'
build --copt -Wall
build --copt -Wno-sign-compare

# Address sanitizer
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
